<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nunepc.beautyblinkbeautician">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PostPromotion" />
        <activity android:name=".EmailLogin" />
        <activity android:name=".Register" />
        <activity android:name=".ViewProfile" />
        <activity android:name=".ProfilePromote" />
        <activity android:name=".Promotion" />
        <activity android:name=".Verified" />
        <activity android:name=".EditProfile" />
        <activity android:name=".PromotionDetails" />
        <activity android:name=".ViewServices" />
        <activity android:name=".AddService" />
        <activity android:name=".EditPromotion" />
        <activity android:name=".StorePreview" />
        <activity android:name=".OpenPhoto" />
        <activity android:name=".OfferPage" />
        <activity android:name=".Toprovide" />
        <activity android:name=".Confirm"></activity>
    </application>

</manifest>